{% extends 'layout.html' %} {% block content %}
<div class="container-1">
    <h1>Terms of Service of kawfee.net</h1>
    <br />
    <p>
        These terms of service apply to your use of kawfee.net, and defines the
        outline for your usage on the site. This document also pertains the
        content we hold on our site, otherwise known as "fanfiction" where it is
        visible to the public, and the guidelines for such.
    </p>
    <br />
    <h3>Age Requirements</h3>
    <br />
    <p>
        You must be atleast 13 years old or the minimum age required in your
        country to access social media platforms to consent to the services we
        provide. We do not willing store information of users under the minimum
        age, and anybody found to be under this will be removed from the site
        and their data purged immediately.
    </p>
    <br />
    <h3>Usage of kawfee.net</h3>
    <br />
    <p>
        By registering an account, you knowingly agree to the rules stated here.
    </p>

    <p>
        The content on the site includes text, code and image hosting. Content
        uploaded to the site, whether it be by proxy of a link, image or any
        referable way, must abide by the terms laid out before you, and the law
        of the country in which our servers are located.
    </p>
    <br />
    <p>
        Content uploaded to the site should not encourage dangerous or illegal
        activities, share or collect any information that could be used to harm
        others or yourself, depict shocking or other wise distressing imagery,
        include threats or encourage acts of violence, discriminate against
        others, or violate the terms in any way.
    </p>
    <br />
    <p>
        Users should not harass others, or create content intended to belittle,
        demean or in any other way harm another user or person. If they are
        found to do such, even off-site, they will be banned from our services.
    </p>
    <br />
    <p>
        The site will not be used to promote hate imagery, illegal actions of
        any kind, violent or disturbing content, explicit depictions of
        children. You will immediately be ip banned.
    </p>
    <br />
    <p>
        We reserve the right to cease our services at any given time. We are not
        liable for any damages caused by the suspension of ceasing of our
        services.
    </p>
    <br />
    <h3>Development and Updates</h3>
    <br />
    <p>
        We are constantly developing our services. You acknowledge that the site
        may change overtime, such as removing, changing or adding
        functionalities, offering new services and discontinuing old ones, in
        which users will be fairly compensated. We may also make changes to
        abide by laws governed by the country in which our servers are located,
        to adapt to new technologies and any security or safety issues we may
        encounter.
    </p>
    <br />
    <h3>Content on kawfee.net</h3>
    <br />
    <p>
        This section pertains your use of the fanfiction hosting website known
        as "kawfee.net", specifically the content that you yourself upload to
        the platform. By uploading such content, you yourself agree that you are
        wholly liable for any text, images, videos, or other media that may
        violate our guidelines, and are the sole recipient for any consequences
        that may come from such.
    </p>
    <br />
    <p>
        Any NSFW content should be non explicit in nature, be tagged as such,
        and must not include people under 18, fictional included in any form.
        You are not allowed to link to explicit sites such as pornographic
        websites, image forums, or anything that could share explicit content as
        a whole. NSFW content cannot include illegal acts, even if non explicit.
    </p>
    <br />
    <p>
        AI generated images, text, videos or any other form of media should not
        be uploaded to the site, labelled as such or passed off as your own.
        This includes linking to generative ai websites, or anything that could
        endorse such.
    </p>
    <br />
    <p>
        References to real life tragedies in an unrespectful mannerwill not be
        tolerated. You will be warned and the fanfic deleted if such is found.
    </p>
    <br />
    <p>
        Any fanfiction content related to subjects of extreme taboo such as
        <span class="censored">incest, rape, noncon and lolicon</span> will not
        be tolerated, even if non explicit. Such will be removed, the user
        warned and the fanfic deleted.
    </p>
    <br />
    <h3>Consequences</h3>
    <br />
    <p>
        Violation of these rules may result in temporary or permanent suspension
        from our services. We reserve the right to provide no explanation of
        such when doing such.
    </p>
    <br />
    <p>
        Circumvention of this via alternate accounts, VPNs or any other method
        are not allowed and will result in further blocks from our services.
    </p>
    <br />
    <p>
        Users with an account are allowed to report fanfiction, content, and
        users that violate this. As such, they should always use this instead of
        attempting to elevate matters via other methods, such as confrontation
        or contacting through other platforms.
    </p>
</div>
<style>
    .censored {
        background-color: var(--text-color);
        border-radius: var(--border-radius);
        color: transparent;
        user-select: none;
    }

    .censored:hover {
        background-color: transparent;
        color: var(--text-color);
    }
</style>
{% endblock %}
